.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  background-color: #4d6de3;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  place-content: space-between;
}
.navbar img {
  margin-left: 16px;
}
.navbar a {
  margin-right: 16px;
  margin-top: 4px;
}
#nav {
  position: fixed;
  top: 55px;
  width: 100%;
  display: none;
  background-color: #4d6de3;
  justify-content: center;
}
ul {
  text-align: center;
  margin-top: 32px;
}
li {
  margin-bottom: 32px;
}
a {
  color: #f1fcfd;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

footer {
  display: flex;
  background: #393737;
  height: 48px;
  text-align: center;
}
footer span {
  color: #fff5f5;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: center;
  margin: 0 auto;
}
/*Small*/
@media only screen and (min-width: 400px) {
}
/*Medium*/
@media only screen and (min-width: 900px) {
}
/*Large*/
@media only screen and (min-width: 1280px) {
}
