header {
  width: 100%;
  position: fixed;
  top: 0;
  background: #4d6de3;
}
.head {
  display: flex;
  height: 56px;
  align-items: center;
  margin: auto 16px;
  justify-content: space-between;
}
#close {
  display: none;
}
#menu {
  margin: 32px;
  display: none;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
#menu a {
  color: #f1fcfd;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }
  .head{
    margin: auto;
  }
  #open,#close {
    display: none;
  }
  #menu{
    display: flex;
    flex-direction: row;
    margin: auto ;
    justify-content: center;
  }
}
